<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.html">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Odzyskiwanie hasła</title>
</head>
<body>
    <form id="form" class="form">
    <div class="container">

        <h1>Odzyskaj dostęp</h1>
        <p class="text">Podaj swój email, aby otrzymać link do zresetowania hasła.</p>
        <hr>
        <i class="uil uil-envelope"></i>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Email" name="email" id="email" required>
        
        <button type="submit" id="forget" class="btn">Wyślij</button>
       
      </div>
    </form>
</body>
</html>