<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="register.html">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Logowanie</title>
</head>
<body>
    <form id="form" class="form">
    <div class="container">
        <h1>Logowanie</h1>
        <hr>
        <i class="uil uil-user"></i>
        <label for="user"><b>Użytkownik</b></label>
        <input type="text" placeholder="Nazwa użytkownika" name="username" id="user" required>
    
        <i class="uil uil-padlock"></i>
        <label for="psw"><b>Hasło</b></label>
        <input type="password" placeholder="Hasło" name="psw" id="psw" required>

        <p class="forget"> <a href="forget.html">Nie pamiętasz hasła?</a></p>
        <button type="submit" id="login" class="btn">Logowanie</button>
        <div class="signin">
            <p class="account">Nie masz konta? <a href="register.html">Zarejestruj się</a>.</p>
          </div>
      </div>
    </form>

    
</body>
</html>